<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="description" content="PetProject" />
    <meta name="keywords"  content="" />
    <meta name="theme-color" content="#FFFFFF">
    
    <title>이용약관</title>
</head>
<body>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
    <p>이용약관</p>
</body>
</html>
